<!DOCTYPE html>
<html>
<head>
  <title>Ideabox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash.notice %>
  <% if current_user %>
    <h1>Welcome, <%= current_user.username %></h1>
    <%= link_to 'Logout', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
<%= yield %>

</body>
</html>
